.services {
    margin-top: 2%;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    background-color: green;
}

.services h1 {
    text-align: center;
    padding-top: 5px;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}