.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 80%;
    margin-left: 10%;
    height: 700px;
}

.texts {
    padding-left: 8%;
}

.heroimg {
    padding-right: 8%;
}

.btnhero {
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0e6fee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnhero:hover {
    background-color: #0b5cb6;
}